.post-content {
    text-align: justify !important;
}

main.post-main-wrapper div.container {
    margin: 0 auto !important;
    padding: 5.5% 8.4% !important;
}
div.post-header {
    margin-bottom: 3rem !important;
}

@media all and (max-width: 500px) {
    .post-main-wrapper {
        margin: 1rem 0 0 0;
    }

    .post-main-wrapper > .row {
        margin-left: 0;
        margin-right: 0;
    }

    .post-header div.post-heading {
        padding-left: 0 !important;
    }
}