
@media all and (max-width: 500px) {
    .post-main-wrapper {
        margin: 1rem 0 0 0;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .container.content {
        padding: 0;
    }
}