{{ define "main" }}
  <!-- Main layout -->
  <main class="post-main-wrapper">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column + Spied element -->
      <div class='{{ cond .Params.toc "col-md-10" "container pr-5" }} z-depth-1 post-wrapper white-bg single-post'>
        <article class="post-content markdown">
          {{ partial "post-title.html" . }}
          {{ .Content }}
        </article>
        <!-- Tags -->
        <div class="row">
          <div class="col-md-12">
          {{ if .Params.tags }}
            <div class="mb-5">
              {{ partial "tags.html" . }}
            </div>
          {{ end }}
          </div>
        </div>
        <!-- /.Tags -->
        <!-- Prev & Next -->
        <div class="row pt-3">
          <div class="col-md-6">
            {{ if .PrevInSection }}
              <a href={{ .PrevInSection.Permalink }} class="post-meta">{{ i18n "previousPost" }}
                <div class="pt-2 pb-5 d-flex">
                  <i class="fas fa-angle-left text-grey font-weight-bold mr-2 active-color"></i>
                  <span>{{ .PrevInSection.Title }}</span>
                </div>
              </a>
            {{ end }}
          </div>
          <div class="col-md-6 text-right" >
            {{ if .NextInSection }}
              <a href={{ .NextInSection.Permalink }} class="post-meta">{{ i18n "nextPost" }}
                <div class="pt-2 pb-5 flex-reverse">
                  <i class="fas fa-angle-right text-grey font-weight-bold ml-2 active-color"></i>
                  <span>{{ .NextInSection.Title }}</span>
                </div>
              </a>
            {{ end }}
          </div>
        </div>
        <!-- /.Prev & Next -->
      </div>
      <!-- /.Grid column -->
      {{ partial "toc.html" . }}
    </div>
    <!-- /.Grid row -->
  </main>
  <!-- /.Main layout -->
{{ end }}